.header {
  text-align: center;
  color: #9db0d1;
  font-family: "Arapey", serif;
  font-size: 60px;
  line-height: 66px;
  margin: 100px 0 50px 0;
}

.paragraph_header {
  text-align: center;
  color: #000;
  width: 1024px;
  margin: 0 auto 50px auto;
  padding: 0 50px;
  font-family: Verdana, sans-serif;
  line-height: 24px;
  font-size: 20px;
}
.btn_getStarted {
  background-color: #ebac87;
  color: white;
  border-radius: 10px;
  border: 0;
  padding: 24px 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Arapey", serif;
  line-height: 32px;
  margin: 0 auto 50px auto;
  display: block;
}
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.link {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.check {
  display: block;
  padding: 0 15px 0 0;
}

.header_section2 {
  text-align: center;
  font-family: "Arapey", serif;
  font-size: 40px;
  line-height: 44px;
  padding: 252px 0 50px 0;
  background: url(../images/clouds.png) top / auto 200px repeat-x,
    linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87c6eb 93.06%);
}
.article {
  background-color: white;
  width: 360px;
  border-radius: 10px;
  padding: 0 20px;
}
.number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(235, 172, 135, 0.4);
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 12px 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.article_imgs {
  background: #ebac87;
  margin: 0 0 20px;
}
.article_imgs img {
  width: 100%;
}
.article_text {
  margin: 20px 70px 20px 0;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  line-height: 24px;
}
.article_text strong {
  font-weight: 800;
}
.wraper {
  background-color: #87c6eb;
}
.articles_box {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.mountain {
  width: 1200px;
  margin: 0 auto;
  min-height: 475px;
  background: url(../images/Rectangle3.png) bottom right/auto 475px no-repeat;
}
.header_section3 {
  color: white;
  font-size: 40px;
  line-height: 40px;
  padding: 75px 0 50px 0;
  font-family: "Arapey", serif;
  width: 480px;
}
.section3 {
  background-color: #87c6eb;
}
.text_section3 {
  width: 600px;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  line-height: 24px;
  display: block;
  padding-right: 25px;
}
.text_section3 a {
  color: #000;
  text-decoration: underline;
}
.buttons_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_left {
  background-color: white;
  color: #ebac87;
  margin: 50px 0;
}
.btn_right {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ebac87;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 4px 24px;
  margin: 0 0 10px 0;
  border: none;
}
.footer {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}
.btn_footer {
  margin: 50px 0;
}
.soc_item {
  margin: 0 18px;
}
